<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Collection View</h2>
<form action='{% url 'detail_collection' collection_pk %}' method='post'>

    {{ content | safe }}
    {% csrf_token %}

    <input type='submit' name='create' value='Create'>
</form>

<ul>
    {% for cd in cd_set %}
        <li>
            <a href='{% url 'detail_collection_data' cd.id  %}'>Data for {{ cd.collection.name }} [{{ cd.id }}]</a>
        </li>
    {% endfor %}
</ul>

</body>
</html>