<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Collection Data View</h2>
<form action='{% url 'detail_collection_data' collection_data_pk %}' method='post'>

    {{ content | safe }}
    {% csrf_token %}

    <input type='submit' name='update' value='Update'>
</form>

<ul>
    {% for cd in cd_set %}
        <li>
            <a href='{% url 'detail_collection_data' cd.id  %}'>Data for {{ cd.collection.name }} [{{ cd.id }}]</a>
        </li>
    {% endfor %}
</ul>

<ul>
<li><a href='{% url 'detail_collection' cd_set.0.collection.id %}'>Create New Entry</a></li>
</ul>

</body>
</html>