<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Collection List</h2>
<ul>
    {% for collection in collection_set %}
        <li>
            <a href='{% url 'detail_collection' collection.id  %}'>
                {{ collection.name }} [{{ collection.id }}]
            </a>
        </li>
    {% endfor %}
</ul>

</body>
</html>